body{
  text-align: center;
  background: linear-gradient(to right,darkblue,black);
}


.cont{
  display: inline-block;
  margin-top: 20px;
  background-color: white;
  box-shadow: 5px 10px 15px 5px green;
}

.projImg{
  margin: 14px;
  width: 480px;
}