body{
  background-color: rgb(25, 25, 25);
}

h1{
  color: white;
}

*{
  font-family: arial;
  color: white;
}

.pngs{
  height: 50px;
  width: 50px;
}

.moves{
  background-color: transparent;
  border: white solid 3px;
  border-radius: 50%;
  padding: 30px;
  margin-right: 20px;
  margin-top: 4px;
}

.resetBtn,.aPBtn{
  background-color: transparent;
  border: rgba(255, 255, 255,1px) solid 2px;
  border-radius: 8px;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  color: whitesmoke;
}

.inner{
  margin-left: 12px;
  margin-top: 72px;
}

.btns{
  margin-top: 32px;
  margin-bottom: 48px;
}

h1{
  word-spacing: 6px;
  letter-spacing: 1.2px;
}

.show{
  margin-top: -14px;  
  margin-bottom: 20px;
  font-size: larger;
}

.counts{
  font-size: medium;
  font-weight: bold;
  word-spacing: 1.6px;
  letter-spacing: 0.6px;
  margin-bottom: 32px;
}

button{
  cursor: pointer;
}